.trash/*
/source/content/References/*/source
source/content/.obsidian/workspace.json
source/content/References/Arfken - Mathematical Methods for Physicsts/3.1 Review of Basic Properties.md
source/content/References/Arfken - Mathematical Methods for Physicsts/Contents.canvas
source/content/References/Arfken - Mathematical Methods for Physicsts/Vectors.md
*.json
